.cell {
  border: 2px solid var(--white);
  background: var(--gray);
  margin: 0;
  padding: 8px 16px;
  text-align: right;
  transition: background 0.3s ease;

  &--title {
    text-align: left;
  }

  &--subcategory-item {
    padding-left: 30px;
  }

  &--today {
    background: var(--blue);
  }

  &--positive {
    background: var(--green-1);
  }

  &--negative {
    background: var(--red-1);
  }

  &__percent {
    min-width: 50px;
    display: inline-block;
    font-weight: 600;

    &--positive {
      color: var(--green);
    }

    &--negative {
      color: var(--red);
    }
  }
}
