html,
body {
  width: 100%;
  min-height: 100%;
  height: auto;
}

body {
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
  font-family: var(--font-geist-sans);
  font-weight: 400;
  line-height: 1.5;
}
