:root {
  --text-color: #101010;

  // White
  --white: #ffffff;

  // Blue
  --blue: #e1f5ff;

  // Grey
  --gray: #f0f0f0;
  --gray-1: #e0e0e0;

  // Green
  --green: #277c48;
  --green-1: #d8f2e1;

  // Red
  --red: #cc4435;
  --red-1: #ffd8d4;
}
