.data-table {
  width: 100%;
  border-collapse: collapse;

  &__cell {
    border: 2px solid var(--base-10);
    background: var(--base-20);
    margin: 0;
    padding: 8px 16px;
    text-align: center;

    &--today {
      background: var(--brand-20);
    }
  }

  &__row {
    cursor: pointer;
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
