.data-table {
  width: 100%;
  border-collapse: collapse;

  &__cell {
    border: 2px solid var(--white);
    background: var(--gray);
    margin: 0;
    padding: 8px 16px;
    text-align: center;

    &--today {
      background: var(--blue);
    }
  }

  &__row {
    cursor: pointer;

    &:hover {
      td {
        background: var(--gray-1);
      }
    }
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
